<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<style>
    div.caption {
        position: absolute;
        top: 10%;
        left: 150%;
    }
</style>

<body>
    <header>
        <nav>
            <div class="navdec1">
                <div class="navdecchild"><img src="static/travel_site_img/logo.jpg" alt="" width="100px" style="margin-right: 0rem;"></div>
                <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
                <div class="navdecchild"><a class="navitems" href="#overview">OVER VIEW</a></div>
                <div class="navdecchild"><a class="navitems" href="singapore.html">COUNTRY</a></div>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="main_v">
            <video aria-hidden="true" width="100%" height="100%" poster="" preload="auto" playsinline="" loop=""
                autoplay="" muted="">
                <source src="singapore3.mp4" type="video/mp4">
            </video>
        </div>
        <div class="main_t">
            <h1 style="text-align: center; color: white;">diamond package</h1>
            <p style="color:white">
                Indulge in the ultimate luxury with our exclusive expensive tourism package. Stay in lavish 5-star accommodations that offer breathtaking views and unparalleled comfort. Enjoy gourmet dining experiences at Michelin-starred restaurants and access VIP events and attractions. This package is designed to provide an unforgettable and extravagant travel experience.</p>
        </div>
        <div class="main_t2">
            <h1 style="color: #4299ae">Explore our places</h1>
            <p style="color: #4299ae">Singapore, offers a plethora of attractions. Gardens by the Bay is a stunning horticultural wonderland featuring futuristic Supertrees and beautiful gardens. Universal Studios Singapore is a thrilling theme park with exciting rides and entertainment for all ages. Orchard Road is a shopper's paradise, renowned for its upscale malls and designer boutiques lush rainforests, and scenic biking trails.</p>

        </div>

    </div>


    <div class="goa">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/sing_p5_2.webp" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">PLACE -1</h1>
                <p style="color: #4299ae;">
                    Embark on a Singapore safari to witness diverse wildlife in their natural habitats. Explore the captivating Gardens by the Bay, where Supertrees and conservatories showcase stunning flora. Experience the thrill of Universal Studios with its exhilarating rides and immersive entertainment.</p>
                <p style="text-align: center;"><a href= "sing_dia_1.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">

    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/sing_p4_4.webp" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">PLACE -2</h1>
                    <p style="color: #4299ae;">
                        Orchard Road, Singapore's premier shopping district, entices visitors with its upscale boutiques, luxury brands, and bustling atmosphere. The iconic flyover along Orchard Road offers a unique vantage point, allowing pedestrians to marvel at the cityscape and vibrant street life below. Immerse yourself in Singapore's rich cultural heritage by visiting renowned museums like the National Museum of Singapore, where captivating exhibits showcase the country's history, art, and traditions, offering a glimpse into its diverse and vibrant past. </p>
                    <p style="text-align:center"><a href= "sing_dia_2.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
                
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    
    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/sing_p6_3.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">PLACE -3</h1>
                    <p style="color: #4299ae;">
                        Explore lush trails amidst the tropical rainforest, encounter vibrant butterflies fluttering through the foliage, and marvel at the breathtaking panoramic views from the hilltop. Another captivating destination is Pulau Ubin, a serene island off Singapore's northeast coast. Step back in time as you cycle or walk through its rustic villages, spot wildlife in its mangroves and wetlands, and experience the island's untouched natural beauty, offering a tranquil escape from the city's hustle and bustle.</p>
                        <p style="text-align:center"><a href= "sing_dia_3.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    
</body>

</html>