<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<style>
    div.caption {
        position: absolute;
        top: 10%;
        left: 150%;
    }
</style>

<body>
    <header>
        <nav>
            <div class="navdec1">
                <div class="navdecchild"><img src="static/travel_site_img/logo.jpg" alt="" width="100px" style="margin-right: 0rem;"></div>
                <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
                <div class="navdecchild"><a class="navitems" href="#overview">OVER VIEW</a></div>
                <div class="navdecchild"><a class="navitems" href="#packages">PACKAGES</a></div>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="main_v">
            <video aria-hidden="true" width="100%" height="100%" poster="" preload="auto" playsinline="" loop=""
                autoplay="" muted="">
                <source src="static/travel_site_img/allepy.mp4" type="video/mp4">
            </video>
        </div>
        <div class="main_t">
            <h1 style="text-align: center; color: white;">Golden package</h1>
            <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, unde explicabo.
                Exercitationem iste ratione pariatur voluptatem qui reprehenderit repudiandae facere nihil
                cupiditate itaque? Quod sed explicabo in non veritatis exercitationem.</p>
        </div>
        <div class="main_t2">
            <h1 style="color: #4299ae">Explore our places</h1>
            <p style="color: #4299ae">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio explicabo, perferendis atque minus aut, id ad ex exercitationem, sequi esse molestiae sed possimus! Veniam obcaecati laborum veritatis quibusdam, minus facilis!</p>

        </div>

    </div>


    <div class="goa">
        <div class="heading">
            <h1 style="color:#4299ae;">Explore Goa</h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/goa.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">Explore Goa</h1>
                <p style="color: #4299ae;">This package provides you beautiful and historic places to visit in goa at an appordable price. We assure your trip to be memorable. Your trip will be consisting of visit to caves,gardens and captivating sights of sunsets at the beaches.We'll provide you a guide at every place,and we'll look after the flight,hotel and place bookings </p>

            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    <div class="plan">
        <h1 style="color:#4299ae; padding-left: 5rem;" >your plan</h1>
        <div class="subplan">
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae">Day-1 Arrival</h1>
                <p></p>
                <div class="travel">
                    <div class="home" style="width:75%">
                        <img src="static/travel_site_img/plane.jpg" alt="" width="150px">
                    </div>
                    <div class="palm" style="width:25%">
                        <img src="static/travel_site_img/palm.jpg" alt="" height="100px">
                    </div>
                    
                </div>
                <P>Car service provided to hotel- 1hr</P>
                <h1 style="color:#4299ae">CHECKIN @ 2PM</h1>
                <div class="hotel">
                    <img src="static/travel_site_img/GOA_HOTEL.jpg" alt="" width="300px">

                </div>
                <p>Hotel Anjana</p>



            </div>
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-2 Morning @ 10</h1>
                <img src="static/travel_site_img/goacave.jpg" alt="" width="250px">
                <h1 style="color:#4299ae">Afternoon @ 2:30pm</h1>
                <img src="static/travel_site_img/goa_beach1.jpg" alt=""width="250px">
                

            </div>
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-3 Morning @ 10</h1>
                <img src="static/travel_site_img/goa_museum.jpg" alt="" width="250px">
                <h1 style="color:#4299ae">Afternoon @ 2:30pm</h1>
                <img src="static/travel_site_img/goa_beach2.jpg" alt=""width="250px">                

            </div>

            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-4 Morning @ 10</h1>
                <img src="static/travel_site_img/goa_garden.jpg" alt="" width="250px">
                <h1 style="color:#4299ae">Departure @ 2pm</h1>
                <img src="static/travel_site_img/plane.jpg" alt=""width="200px">                  

            </div>

        </div>
    </div>
    
    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;">Explore Varanasi</h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/varanasi.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">Explore varanasi</h1>
                    <p style="color: #4299ae;">Varanasi, also known as Banaras or Kashi, is a city in the northern Indian state of Uttar Pradesh. It is considered one of the holiest cities in Hinduism and attracts millions of tourists and pilgrims every year.</p>
                
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    <div class="plan">
        <h1 style="color:#4299ae; padding-left: 5rem;" >your plan</h1>
        <div class="subplan">
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae">Day-1 Arrival</h1>
                <p></p>
                <div class="travel">
                    <div class="home" style="width:75%">
                        <img src="static/travel_site_img/plane.jpg" alt="" width="200px">
                    </div>
                    <div class="palm" style="width:25%">
                        <img src="static/travel_site_img/templ.jpg" alt="" height="150px">
                    </div>
                    
                </div>
                <P>Car service provided to hotel- 1hr</P>
                <h1 style="color:#4299ae">CHECKIN @ 2PM</h1>
                <div class="hotel">
                    <img src="static/travel_site_img/varanasi_palace_hotel.jpg" alt="" width="300px">

                </div>
                <p>Hotel brijrama</p>



            </div>
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-2 Morning @ 10</h1>
                <img src="static/travel_site_img/banaras_fort.jpg" alt="" width="250px">
                <p>Ramnagarfoirt</p>
                <h1 style="color:#4299ae">Afternoon @ 2:30pm</h1>
                <img src="static/travel_site_img/kv_temple.jpg" alt=""height="250px">
                <p>KV_temple</p>
                

            </div>
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-3 Morning @ 10</h1>
                <img src="static/travel_site_img/bhu.jpg" alt="" width="250px">
                <h1 style="color:#4299ae">Afternoon @ 2:30pm</h1>
                <img src="static/travel_site_img/mk_ghat.jpg" alt=""width="250px">                

            </div>

            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-4 Morning @ 10</h1>
                <img src="static/travel_site_img/sarnath.jpg" alt="" width="250px">
                <p>sarnath</p>
                <h1 style="color:#4299ae">Departure @ 2pm</h1>
                <img src="static/travel_site_img/plane.jpg" alt=""width="200px">                  

            </div>

        </div>
    </div>
    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;">Explore Varanasi</h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/shimla.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">Explore varanasi</h1>
                    <p style="color: #4299ae;">
                        Shimla, the capital city of Himachal Pradesh, is a popular hill station known for its scenic beauty, colonial architecture, and pleasant weather.Shimla and its surrounding areas are known for adventure and nature activities. Tourists can engage in activities like trekking, camping, skiing (in winter), horse riding, and exploring nature trails.</p>
                
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    <div class="plan">
        <h1 style="color:#4299ae; padding-left: 5rem;" >your plan</h1>
        <div class="subplan">
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae">Day-1 Arrival</h1>
                <p></p>
                <div class="travel">
                    <div class="home" style="width:75%">
                        <img src="static/travel_site_img/plane.jpg" alt="" width="150px">
                    </div>
                    <div class="palm" style="width:25%">
                        <img src="static/travel_site_img/snowflake.jpg" alt="" height="100px">
                    </div>
                    
                </div>
                <P>Car service provided to hotel- 1hr</P>
                <h1 style="color:#4299ae">CHECKIN @ 2PM</h1>
                <div class="hotel">
                    <img src="static/travel_site_img/shimla_hotel.jpg" alt="" width="300px">

                </div>
                <p>Hotel brijrama</p>



            </div>
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-2 Morning @ 10</h1>
                <img src="static/travel_site_img/mall_road.jpg" alt="" width="250px">
                <p>Ramnagarfoirt</p>
                <h1 style="color:#4299ae">Afternoon @ 2:30pm</h1>
                <img src="static/travel_site_img/ridge.jpg" alt=""height="250px">
                <p>KV_temple</p>
                

            </div>
            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-3 Morning @ 10</h1>
                <img src="static/travel_site_img/kufri.jpg" alt="" width="250px">
                <h1 style="color:#4299ae">Afternoon @ 2:30pm</h1>
                <img src="static/travel_site_img/shimla_museum.jpg" alt=""width="200px">                

            </div>

            <div class="card" style="width:25%">
                <h1 style="color:#4299ae"> Day-4 Morning @ 10</h1>
                <img src="static/travel_site_img/jakhoo.jpg" alt="" width="250px">
                <p>sarnath</p>
                <h1 style="color:#4299ae">Departure @ 2pm</h1>
                <img src="static/travel_site_img/plane.jpg" alt=""width="200px">                  

            </div>

        </div>
    </div>

</body>

</html>