<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Package Japan</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<style>
    div.caption {
        position: absolute;
        top: 10%;
        left: 150%;
    }
</style>

<body>
    <header>
        <nav>
            <div class="navdec1">
                <div class="navdecchild"><img src="static/travel_Site_img/logo.jpg" alt="" width="100px" style="margin-right: 0rem;"></div>
                <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
                <div class="navdecchild"><a class="navitems" href="#overview">OVER VIEW</a></div>
                <div class="navdecchild"><a class="navitems" href="#packages">PACKAGES</a></div>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="main_v">
            <video aria-hidden="true" width="100%" height="100%" poster="" preload="auto" playsinline="" loop=""
                autoplay="" muted="">
                <source src="kyoto.mp4" type="video/mp4">
            </video>
        </div>
        <div class="main_t">
            <h1 style="text-align: center; color: white;">Golden package</h1>
            <p style="color:white">Japan is one of the oldest civilizations and has a beautiful and diverse history. The stunning, diverse scenery with mountains and breathtaking views, which are much appreciated by the Japanese, offers so many different experiences that attract tourists from all corners of the world. With this package you can visit one of the top three cities in Japan.</p>
        </div>
        <div class="main_t2">
            <h1 style="color: #4299ae">Explore our places</h1>
            <p style="color: #4299ae"> Our three places: In Tokyo you can experience the whole breadth of Japanese arts and culture. Nara, this ancient city is home to three World Heritage sites, comprising Historic Monuments of Ancient Nara, etc. Osaka, along with plenty of shopping and modern attractions, Osaka also has a historical side, the highlight of which is Osaka Castle. </p>

        </div>

    </div>


    <div class="goa">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/tokyo.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">TOKYO</h1>
                <p style="color: #4299ae;">
                    As Japan’s capital and the world’s most populous metropolis, Tokyo offers tradition and innovation, and unlimited opportunities to eat, shop and explore</p>
                <p style="text-align: center;"><a href= "tokyo.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">

    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_Site_img/nara.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">NARA</h1>
                    <p style="color: #4299ae;">
                        Nara is Japan's ancient capital, with World Heritage sites, sacred mountains and free-roaming deer</p>
                    <p style="text-align: center;"><a href= "nara.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
                
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    
    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_Site_img/osaka.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">OSAKA</h1>
                    <p style="color: #4299ae;">                        
                        Osaka is a large port city and commercial center on the Japanese island of Honshu. It's known for its modern architecture, nightlife and hearty street food. The 16th-century shogunate Osaka Castle, which has undergone several restorations, is its main historical landmark.</p>
                        <p style="text-align: center;"><a href= "osaka.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    
</body>

</html>