<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<style>
    div.caption {
        position: absolute;
        top: 10%;
        left: 150%;
    }
</style>

<body>
    <header>
        <nav>
            <div class="navdec1">
                <div class="navdecchild"><img src="static/travel_site_img/logo.jpg" alt="" width="100px" style="margin-right: 0rem;"></div>
                <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
                <div class="navdecchild"><a class="navitems" href="#overview">OVER VIEW</a></div>
                <div class="navdecchild"><a class="navitems" href="singapore.html">COUNTRY</a></div>
            </div>
        </nav>
    </header>
    <div class="main">
        <div class="main_v">
            <video aria-hidden="true" width="100%" height="100%" poster="" preload="auto" playsinline="" loop=""
                autoplay="" muted="">
                <source src="singapore2.mp4" type="video/mp4">
            </video>
        </div>
        <div class="main_t">
            <h1 style="text-align: center; color: white;">Golden package</h1>
            <p style="color:white">Discover the world on a budget with our affordable tourism package. Enjoy comfortable accommodations in budget-friendly hotels without compromising on quality. Experience local culture, visit popular attractions, and savor delicious cuisine while keeping your expenses in check.</p>
        </div>
        <div class="main_t2">
            <h1 style="color: #4299ae">Explore our places</h1>
            <p style="color: #4299ae">
                Explore the iconic Gardens by the Bay, a breathtaking nature park with stunning futuristic structures and lush gardens. Discover the vibrant nightlife at Clarke Quay, a lively riverside destination offering a variety of restaurants. Visit Sentosa Island, a resort island packed with thrilling attractions, beautiful beaches, and family-friendly activities, all set against the backdrop of the picturesque Singapore River.</p>

        </div>

    </div>


    <div class="goa">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/p1_1.jpg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">PLACE -1</h1>
                <p style="color: #4299ae;">
                    Embark on a captivating city tour of Singapore, where modern skyscrapers harmoniously coexist with rich cultural heritage. Explore the iconic Gardens by the Bay, a horticultural wonderland showcasing breathtaking supertrees, vibrant flower domes, and serene waterfront gardens. Continue your adventure by visiting the Jurong Bird Park, home to a dazzling array of colorful and exotic bird species. Witness mesmerizing bird shows, stroll through lush aviaries, and learn about the fascinating world of avian wildlife conservation.</p>
                <p style="text-align: center;"><a href= "singaporep1.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">

    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/p2_1.jpeg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">PLACE -2</h1>
                    <p style="color: #4299ae;">
                        Embark on a captivating city tour of Singapore, where modern marvels and cultural heritage intertwine. Discover the vibrant cityscape, visit iconic landmarks such as Merlion Park, and explore the bustling streets of Chinatown and Little India. Continue your journey to Sentosa Island, a tropical paradise offering pristine beaches, thrilling attractions, and world-class entertainment. Wrap up your adventure with a visit to Madame Tussauds, where you can rub shoulders with lifelike wax figures of global celebrities, historical icons, and sports stars, creating unforgettable memories in this interactive wax museum.</p>
                    <p style="text-align: center;"><a href= "singaporep2.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
                
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    
    <div class="goa2">
        <div class="heading">
            <h1 style="color:#4299ae;"></h1>
        </div>
        <div class="content">
            <div class="goa_pic">
                <img src="static/travel_site_img/p3_1.jpeg" alt="" width="600px">
            </div>
            <div class="goa_t" style="width:50%">
                <h1 style="color:#4299ae; text-align: center;">PLACE -3</h1>
                    <p style="color: #4299ae;">
                        
Experience the vibrant atmosphere of Clarke Quay, Singapore's bustling riverside destination known for its lively nightlife and array of dining options. Immerse yourself in the city's rich history by visiting renowned museums like the Asian Civilisations Museum, where captivating exhibits showcase the diverse cultures that have shaped Singapore. Take a leisurely stroll along the scenic Singapore River, admiring the picturesque views of the city's skyline and iconic landmarks such as the Merlion, as well as enjoying a relaxing river cruise to explore the city from a different perspective.</p>
                        <p style="text-align: center;"><a href= "singaporep3.html" style="text-decoration: none;"><input type="button" value="VIEW PLAN" class="planbtn"></a></p>
            </div>
        </div>
    </div>
    <hr style="border:1px solid #4299ae;">
    
</body>

</html>