<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Japan</title>
  <link rel="stylesheet" href="static/style1.css">
  <style>

  </style>
</head>

<body>
  <header>
    <nav>
      <div class="navdec1">
        <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
        <div class="navdecchild"><a class="navitems" href="#overview">OVER VIEW</a></div>
        <div class="navdecchild"><a class="navitems" href="#packages">PACKAGES</a></div>
      </div>
      <!-- <ul class="navdec1">
          <li>
           <a href="index2.html">HOME</a>
           <a href="#overview">OVER VIEW</a>
           <a href="#packages">PACKAGES</a>
          </li>
        </ul> -->
    </nav>
  </header>
  <section>
    <div class="maincontent">
      <div style="width: 40%; text-align: center;">
        <h1 style="text-align: center; ">JAPAN</h1>
        <p style="color: white; padding-left: 20%;padding-right: 20%;">
            Japan (Japanese: 日本, Nippon or Nihon, and formally 日本国, Nihonkoku) is an island country in East Asia. It is situated in the northwest Pacific Ocean and is bordered on the west by the Sea of Japan, extending from the Sea of Okhotsk in the north toward the East China Sea, Philippine Sea, and Taiwan in the south. Japan is a part of the Ring of Fire, and spans an archipelago of 14,125 islands, with the five main islands being Hokkaido, Honshu (the "mainland"), Shikoku, Kyushu, and Okinawa. Tokyo is the nation's capital and largest city.
        </p>
      </div>
      <div style="width: 60%">
        <video aria-hidden="true" width="100%" height="100%" poster="" preload="auto" playsinline="" loop="" autoplay=""
          muted="" width="1080px">
          <source src="japan.mp4" type="video/mp4">
        </video>
      </div>


      
    </div>
    <!-- <table class="front">
          <tr>
          <td class="frontinfo">
            <h1 style="text-align: center;">INDIA</h1>
            <p style="font-size: 1.2rem;">
             
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis vero, incidunt odio officia dolores, nisi eum inventore corporis asperiores in tempore ex alias aliquid? Numquam quas porro iste cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sit magni doloribus dicta, porro pariatur qui est commodi, dolorum, vero ducimus. Qui quibusdam distinctio dicta porro esse ratione, repellat similique?

            
            </p>
          </td>
          <td style="margin-top: 0rem;">
            <video aria-hidden="true" class="vidja" poster="" preload="auto" playsinline="" loop="" autoplay="" muted=""width="1080px">
              <source src="pexels-md-amir-umar-6161037-1920x1080-30fps.mp4" type="video/mp4">
            </video>

          </td>
        </tr>
        </table> -->
  </section>
  <section>
    <div class="background" id="overview">
      <table>
        <tr>
          <td rowspan="2">
            <div class="overview">
              <h2 style="font-size: 2.5rem">OVER VIEW</h2>
              <p style="color:#4299ae"><b>Climate:</b>
                The climate of Japan is predominantly temperate but varies greatly from north to south. The northernmost region, Hokkaido, has a humid continental climate with long, cold winters and very warm to cool summers. Precipitation is not heavy, but the islands usually develop deep snowbanks in the winter.
                <br><br>In the Sea of Japan region on Honshu's west coast, northwest winter winds bring heavy snowfall during winter. In the summer, the region sometimes experiences extremely hot temperatures because of the foehn. The Central Highland has a typical inland humid continental climate, with large temperature differences between summer and winter. The mountains of the Chūgoku and Shikoku regions shelter the Seto Inland Sea from seasonal winds, bringing mild weather year-round.
              </p>
              <p style="color:#4299ae"><b>Performing Arts:</b>
                Japanese music is eclectic and diverse. Many instruments, such as the koto, were introduced in the 9th and 10th centuries. The popular folk music, with the guitar-like shamisen, dates from the 16th century. Western classical music, introduced in the late 19th century, forms an integral part of Japanese culture. Kumi-daiko (ensemble drumming) was developed in postwar Japan and became very popular in North America. Popular music in post-war Japan has been heavily influenced by American and European trends, which has led to the evolution of J-pop. Karaoke is a significant cultural activity.
                <br><br><b>Religion:</b>Japan's constitution guarantees full religious freedom. Upper estimates suggest that 84 to 96 percent of the Japanese population subscribe to Shinto as its indigenous religion. However, these estimates are based on people affiliated with a temple, rather than the number of true believers. Many Japanese people practice both Shinto and Buddhism; they can either identify with both religions or describe themselves as non-religious or spiritual. The level of participation in religious ceremonies as a cultural tradition remains high, especially during festivals and occasions such as the first shrine visit of the New Year. Taoism and Confucianism from China have also influenced Japanese beliefs and customs.
                <br><br><b>Cuisine:</b> Japanese cuisine offers a vast array of regional specialties that use traditional recipes and local ingredients. Seafood and Japanese rice or noodles are traditional staples. Japanese curry, since its introduction to Japan from British India, is so widely consumed that it can be termed a national dish, alongside ramen and sushi. Traditional Japanese sweets are known as wagashi. Ingredients such as red bean paste and mochi are used. More modern-day tastes include green tea ice cream.

                <br><br><b>Sports:</b>Traditionally, sumo is considered Japan's national sport. Japanese martial arts such as judo and kendo are taught as part of the compulsory junior high school curriculum. Baseball is the most popular sport in the country. Japan's top professional league, Nippon Professional Baseball (NPB), was established in 1936. Since the establishment of the Japan Professional Football League (J.League) in 1992, association football gained a wide following. The country co-hosted the 2002 FIFA World Cup with South Korea. Japan has one of the most successful football teams in Asia, winning the Asian Cup four times, and the FIFA Women's World Cup in 2011.[338] Golf is also popular in Japan.
              </p>
            </div>

          </td>
          <td>
            <div class="map">
              <h1 style="text-align: center;">
                Find on map
              </h1>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12492813.61692553!2d131.4965555864201!3d34.446460837180915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34674e0fd77f192f%3A0xf54275d47c665244!2sJapan!5e0!3m2!1sen!2sin!4v1686487474736!5m2!1sen!2sin" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </td>
        <tr>
          <div class="form1">
            <h1 style="text-align: center;">Quick Query</h1>
            
          </div>
        </tr>
      </table>
    </div>
  </section>
  <section>
    <h1 style="text-align: center; color:#4299ae;">EXPLORE OUR PACKAGES</h1>
    <table class="packages" id="packages">
      <tr>
        <td>
          <a href="goldenpackage_j.html" style="text-decoration: none;">
          <div class="card" id="Japan">
            <img src="static/travel_site_img/tokyo_goldenpackage.jpg" alt="Avatar" style="width:350px">
            <span class="container">
              <h4 style="text-align: center;font-family: Abel; color:#4299ae"><b>Golden Package</b></h4>
              <p  style='font-family: Abel; color:#4299ae '>Visit the famous cities of Tokyo, Nara or Osaka</p>
            </span>
          </div>
        </a>
        </td>
        <td></td>
        <td>

        </td>
      </a>
        <td>
          <a href="diamondpackage_j.html" style="text-decoration: none;">
            <div class="card" id="Japan">
              <img src="static/travel_site_img/diamondpackage_japan.webp" alt="Avatar" style="width:350px">
              <span class="container">
                <h4 style="text-align: center; font-family: Abel; color:#4299ae"><b>Diamond Package</b></h4>
                <p style="font-family: Abel; color:#4299ae">Visit the famous cities of Sapporo, Kyoto or Yamagata </p>
              </span>
            </div>
          </a>
        </td>
      </tr>
    </table>
    </div>
  </section>
</body>

</html>