<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nara Tour</title>
  <link rel="stylesheet" href="static/style3.css">

</head>

<body>
  <header>
    <nav>
      <div class="navdec1">
        <div class="navdecchild"><img src="static/travel_site_img/logo.jpg" alt="" width="100px" style="margin-right: 0rem;">
        </div>
        <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
        <div class="navdecchild"><a class="navitems" href="#overview">PACKAGE</a></div>
        <div class="navdecchild"><a class="navitems" href="#plan">PLAN</a></div>
      </div>
    </nav>
  </header>
  <section>
    <div class="picsec">
      <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif; padding-left:4rem">3N/4D Nara Tour Package
      </h2>
      <h2 style="font-size: 28px; font-family: sans-serif; padding-left:4rem">&#8377 19,087 per person</h2>
      <img src="static/travel_site_img/destination.jpg" alt="" height="40px" style="position:relative;padding-left:3.3rem">
      
      <span style="font-size: 22px; font-family: sans-serif; position: absolute;">Nara</span>
      <!--<span style="font-size: 22px; font-family: sans-serif;right: 190px ;position:absolute; background-color: lightgreen;"> <input type="button" value="Book"></span>-->
      
      
      <div class="pictures">
        <img src="static/travel_site_img/nara4.jpg" alt="" width="30%" HEIGHT="400px">
        <img src="static/travel_site_img/nara2.jpg" alt="" width="30%" height="400px">
        <!--<div class="centerimg" width="40%">
          <img src="static/travel_site_img/goa_2.jpg" alt="" width="100%" height="30%">
          <img src="static/travel_site_img/goa_3.jpg" alt="" width="100%" height="30%">
        </div>-->
        <img src="static/travel_site_img/nara3.jpg" alt="" width="30%" HEIGHT="400px" style="margin-left: 9px;">
      </div>

    </div>
  </section>
  <section>
    <div>
      <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif;margin-left:9.5rem ">About Package</h2>
      <div style="display:flex;justify-content:stretch;margin-left: 6rem;">
        <p style="padding-left: 4rem;padding-right: 3rem;font-size:22px;font-family: Arial, Helvetica, sans-serif; width: 60%;text-align: justify;">Book you lucrative tour package of Nara for 3 Nights, 4 Days offered by Asian Travels at  19,087 /Per Person .
             Find detailed day wise itinerary of Nara tour package below 
             Nara is the capital of Japan&apos;s Nara Prefecture, in south-central Honshu. The city has significant temples and artwork dating to the 8th century, when it was Japan&apos;s capital.
            </p>
        
        <div style="width:40%;height: 300px;">
          <div class="cost2">
            <div class="cost_sub1">
              <h2 style="font-size: 28px; font-family: sans-serif;">&#8377 19,087</h2>
              <h2 style="font-size: 28px; font-family: sans-serif;">/per person</h2>
              <h2 style=" font-size: 28px; font-family: sans-serif;color:ash">*Excluding Applicable taxes</h2>

            </div>
            <div class="cost_sub2" style="position:relative;display:flex">
              <img src="static/travel_site_img/time.jpeg" height="40px" alt="" style="position:absolute;">
              <h2 style="font-size: 28px; font-family: sans-serif;position:absolute; right:30%; top:-10px">3 Nights / 4 Days</h2><span>
                <a style="text-decoration: none;" href="try.html"><input type="button" value="Book"
                  style="font-size: 28px; font-family: sans-serif;position:absolute;top:70px ;right:40% ;background-color:rgb(47, 228, 47);"></a>              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div style="padding:4rem 9.5rem;" class="summary">
      <table>
        <tr>
          <td colspan="4" style="font-size:22px;text-align:centre;background-color:rgb(147, 188, 249)">Package Summary</td>
        </tr>
        <tr id="table1">
          <td style="color:blue;font-size:18px">Day1</td>
          <td><img src="static/travel_site_img/car.png" width="45px">Arrival </td>
          
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
        </tr>
        <tr>
          <td style="color:blue;font-size:18px">Day2</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
          <td><img src="static/travel_site_img/visit.jpeg" width="45px"> City Tour</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
        </tr>
        <tr>
          <td style="color:blue;font-size:18px">Day3</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
          <td><img src="static/travel_site_img/visit.jpeg" width="45px">Todai-ji, Nara Deer Park</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
        </tr>
        <tr>
          <td style="color:blue;font-size:18px">Day4</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
          <td><img src="static/travel_site_img/car.png" width="45px">Departure</td>
        </tr>
      </table>
    </div>
    <div style="margin-left: 9.5rem;" id="plan">
      <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif;">Detailed Daywise itenerary</h2>
    </div>
    <div id="overview">
      <table style="margin-left:9.5rem; width: 80vw; background-color: azure;">
        <tr>
          <td>
            <div class="main_p">
              <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;" >Day 1 - Arrival in Nara </h3>
              <h3 style="color:blue;font-size:18px">CHECKIN @12PM</h3>
              <div class="hotel">
                <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Stay at the Nara Royal Hotel</h2>
                <img src="static/travel_site_img/sing_hotel.jpg" alt="" width="300px">


              </div>


            </div>
          </td>
          <td style="margin-top:40em;">
            <h3><a>INCLUDED: <img src="static/travel_site_img/pla.png" style="width:45px"> 1 flight | <img
                  src="static/travel_site_img/hotel.jpeg" width="45px"> Hotel | <img src="static/travel_site_img/car.png"
                  width="45px"> 1 Transfer</a></h3>
            <h3 style="color:blue;font-size:25px">Car service provided to hotel- 1hr</h3>
            <h4>Baggage:</h4>
            <h4><img src="static/travel_site_img/cabin.png" width="45px">Cabin:7kg</h4>
            <h4><img src="static/travel_site_img/bag.png" width="45px">Check-in:15kg</h4>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">On reaching Nara, meet our representative at airport/railway station/Bus Station who will drop you at
              hotel. In hotel while you the check-in you can take some rest for the day .</h3>
          </td>
          <td style="margin-left:20rem">
            <br>
            <br>

          </td>

        </tr>


        <!--<tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Beaches In North Goa</h2>
          </td>
        </tr>
        <tr>

          <td>

            <img src="static/travel_site_img/calangute.jpeg" alt="" width="300px" height="150px">
            <p>CALANGUTE BEACH</p>
          </td>
          <td>

            <img src="static/travel_site_img/anjuna beach.jpeg" alt="" width="300px" height="150px">
            <p>ARJUNA BEACH</p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
          </td>-->
        <tr>
          <td colspan="2">
            <hr>
          </td>
        </tr>
        </tr>


        <tr>
          <td>
            <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 2 - City Tour </h3>
            <h2><a><img src="static/travel_site_img/bf.jpg" width="45px">BREAKFAST </a></h2>

            <img src="static/travel_site_img/nara5.jpeg" alt="" width="300px">
          </td>
          <td style="margin-left:20rem">
            <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">Enjoy your luscious breakfast at hotel in Nara
                <b>Duration:</b> 4hrs Includes: Half Day City Tour of Nara <b>Pick up time:</b> 0900 hrs <b>Drop time: </b>
                 1200 hrs <b>Excludes:</b> Only return transfer included</h3>
          </td>
        <tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Kofuku-ji, Yakushiji Temple</h2>
          </td>
        </tr>
        <tr>
          <td>

            <img src="static/travel_site_img/kofukuji.jpg" alt="" width="300px" height="150px">
            <p>Kofuku-ji</p>
          </td>
          <td>

            <img src="static/travel_site_img/yakushiji.jpg" alt="" width="300px" height="150px">
            <p>Yakushiji Temple</p>
          </td>
          
        </tr>
        <tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
          </td>

        </tr>
        <tr>
          <td colspan="2">
            <hr>
          </td>
        </tr>
        <tr>
            <td>
              <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 3 </h3>
              <h2><a><img src="static/travel_site_img/bf.jpg" width="45px">BREAKFAST </a></h2>
  
              <img src="static/travel_site_img/nara4.jpg" alt="" width="300px">
            </td>
            <td style="margin-left:20rem">
              <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">Enjoy your luscious breakfast at hotel in Nara <b>Duration:</b> 4hrs Includes: Todai-ji and Nara Deer Park <b>Pick up time:</b> 0900 hrs <b>Drop time :</b>
                1200 hrs <b>Excludes:</b> Only return transfer included</h3>
                 <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif"><b>Duration:</b> 4hrs Includes: Non Guided Tour of Nara <b>Pick up time:</b> 1800 hrs <b>Drop time :</b>
                  2100 hrs</h3>                 
            </td>
          <tr>
            <td>
              <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Todai-ji and Nara Deer Park</h2>
            </td>
          </tr>
          <tr>
            <td>
  
              <img src="static/travel_site_img/todai_ji.jpg" alt="" width="300px" height="150px">
              <p>Todai-ji</p>
            </td>
            <td>
  
              <img src="static/travel_site_img/nara3.jpg" alt="" width="300px" height="150px">
              <p>Nara Deer Park</p>
            </td>
          </tr>
          <tr>
            <td>
              <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
            </td>
  
          </tr>
          <tr>
            <td colspan="2">
              <hr>
            </td>
          </tr>
        <tr>
          <td>
            <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 4-Departure From Nara</h3>


            <div class="home" style="width:75%">
              <img src="static/travel_site_img/plane.jpg" alt="" width="250px">
            </div>



    </div>
    </td>
    <td style="margin-left:20rem">
      <h3><a>INCLUDED: <img src="static/travel_site_img/pla.png" width="45px"> 1 flight | <img src="static/travel_site_img/car.png"
            width="45px"> 1 Transfer</a></h3>
      <h4>Baggage:</h4>
      <h4><img src="static/travel_site_img/cabin.png" width="45px">Cabin:7kg</h4>
      <h4><img src="static/travel_site_img/bag.png" width="45px">Check-in:15kg</h4>
    </td>
    </tr>
    </table>
  </section>
</body>

</html>