<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style3.css">

</head>

<body>
    <header>
        <nav>
            <div class="navdec1">
                <div class="navdecchild"><img src="static/travel_site_img/logo.jpg" alt="" width="100px"
                        style="margin-right: 0rem;">
                </div>
                <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
                <div class="navdecchild"><a class="navitems" href="#overview">PACKAGE</a></div>
                <div class="navdecchild"><a class="navitems" href="#plan">PLAN</a></div>
            </div>
        </nav>
    </header>
    <section>
        <div class="picsec">
            <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif; padding-left:4rem">4N/5D Singapore Package
            </h2>
            <h2 style="font-size: 28px; font-family: sans-serif; padding-left:4rem">&#8377 47990 per person</h2>
            <img src="static/travel_site_img/destination.jpg" alt="" height="40px"
                style="position:relative;padding-left:3.3rem">



            <div class="pictures">
                <img src="static/travel_site_img/sing_p4_1.webp" alt="" width="30%" HEIGHT="400px">
                <img src="static/travel_site_img/sing_p4_2.webp" width="30%" height="400px">
                <!--<div class="centerimg" width="40%">
          <img src="static/travel_site_img/goa_2.jpg" alt="" width="100%" height="30%">
          <img src="static/travel_site_img/goa_3.jpg" alt="" width="100%" height="30%">
        </div>-->
                <img src="static/travel_site_img/sing_dia_1_1.jpg" alt="" width="30%" HEIGHT="400px" style="margin-left: 9px;">
            </div>

        </div>
    </section>
    <section>
        <div>
            <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif;margin-left:9.5rem ">About Package</h2>
            <div style="display:flex;justify-content:stretch;margin-left: 6rem;">
                <p
                    style="padding-left: 4rem;padding-right: 3rem;font-size:22px;font-family: Arial, Helvetica, sans-serif; width: 60%;text-align: justify;">
                    Book you lucrative tour package of Shimla for 3 Nights, 4 Days offered by Asian Travels at 8,500
                    /Per Person .
                    Book you lucrative tour package of Singapore for 4 Nights, 5 Days offered by Let's Live at 39,350
                    /Per Person . Find detailed day wise itinerary of Singapore tour package below which will be further
                    customized once you enquire with us and share you trip details. </p>
                <div style="width:40%;height: 300px;">
                    <div class="cost2">
                        <div class="cost_sub1">
                            <h2 style="font-size: 28px; font-family: sans-serif;">&#8377 39350</h2>
                            <h2 style="font-size: 28px; font-family: sans-serif;">/per person</h2>
                            <h2 style=" font-size: 18px; font-family: sans-serif;color:ash">*Excluding Applicable taxes
                            </h2>

                        </div>
                        <div class="cost_sub2" style="position:relative;display:flex">
                            <img src="static/travel_site_img/time.jpeg" height="40px" alt="" style="position:absolute;">
                            <h2
                                style="font-size: 28px; font-family: sans-serif;position:absolute; right:30%; top:-10px">
                                4 Nights / 5 Days</h2><span>
                                <a style="text-decoration: none;" href="try.html"><input type="button" value="Book"
                                        style="font-size: 28px; font-family: sans-serif;position:absolute;top:70px ;right:40% ;background-color:rgb(47, 228, 47);"></a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="padding:4rem 9.5rem;" class="summary">
            <table>
                <tr>
                    <td colspan="4" style="font-size:22px;text-align:centre;background-color:rgb(147, 188, 249)">Package
                        Summary</td>
                </tr>
                <tr id="table1">
                    <td style="color:blue;font-size:18px">Day1</td>
                    <td><img src="static/travel_site_img/car.png" width="45px">Arrival </td>
                    <td><img src="static/travel_site_img/cabin.png" width="45px"> shop from orchard road</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
                </tr>
                <tr>
                    <td style="color:blue;font-size:18px">Day2</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
                    <td><img src="static/travel_site_img/visit.jpeg" width="45px"> tour with singapore flyover</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
                </tr>
                <tr>
                    <td style="color:blue;font-size:18px">Day3</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
                    <td><img src="static/travel_site_img/visit.jpeg" width="45px"> glen and museum visit</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
                </tr>
                <tr>
                    <td style="color:blue;font-size:18px">Day4</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
                    <td><img src="static/travel_site_img/visit.jpeg" width="45px"> visit to zoo</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
                </tr>
                <tr>
                    <td style="color:blue;font-size:18px">Day5</td>
                    <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
                    <td><img src="static/travel_site_img/car.png" width="45px">Departure</td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 9.5rem;" id="plan">
            <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif;">Detailed Daywise itenerary</h2>
        </div>
        <div id="overview">
            <table style="margin-left:9.5rem; width: 80vw; background-color: azure;">
                <tr>
                    <td>
                        <div class="main_p">
                            <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 1 - Arrival to
                                Singapore </h3>
                            <h3 style="color:blue;font-size:18px">Checkin @ 1AM</h3>
                            <div class="hotel">
                                <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Inter Continental
                                    Hotel</h2>
                                <img src="static/travel_site_img/sing_p4_3.webp" alt="" width="300px">


                            </div>


                        </div>
                    </td>
                    <td style="margin-top:40em;">
                        <h3><a>INCLUDED: <img src="static/travel_site_img/pla.png" style="width:45px"> 1 flight | <img
                                    src="static/travel_site_img/hotel.jpeg" width="45px"> Hotel | <img
                                    src="static/travel_site_img/car.png" width="45px"> 1 Transfer</a></h3>
                        <h3 style="color:blue;font-size:25px">Car service provided to hotel- 1hr</h3>
                        <h4>Baggage:</h4>
                        <h4><img src="static/travel_site_img/cabin.png" width="45px">Cabin:7kg</h4>
                        <h4><img src="static/travel_site_img/bag.png" width="45px">Check-in:15kg</h4>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">After arrival at the
                            airport, board your transfer to reach your pre-booked hotel. As you arrive at the Lion City
                            - complete the immigration process and meet and greet our representative and get transferred
                            to your pre-booked hotel. Arrive at your hotel and complete the check in formalities and
                            rest up for a while. In the evening you can go to Orchard Road for shopping. After spending
                            an evening in shopping, come back to the hotel for an overnight stay.</h3>
                    </td>
                    <td style="margin-left:20rem">
                        <br>
                        <br>

                    </td>

                </tr>


                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Places to Visit</h2>
                    </td>
                </tr>
                <tr>

                    <td>

                        <img src="static/travel_site_img/sing_p4_1.webp" alt="" width="300px" height="150px">
                        <p>ORCHARD ROAD</p>
                    </td>
                    <td>

                        <img src="static/travel_site_img/sing_p4_2.webp" alt="" width="300px" height="150px">
                        <P>&nbsp;</P>

                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
                    </td>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
            


                <tr>
                    <td>
                        <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 2 -City Tour with
                            Singapore Flyer</h3>
                        <h2><a><img src="static/travel_site_img/bf.jpg" width="45px">BREAKFAST </a></h2>

                        <img src="static/travel_site_img/goa_museum.jpg" alt="" width="300px">
                    </td>
                    <td style="margin-left:20rem">
                        <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">After a wholesome breakfast
                            at the hotel in Singapore, get ready for a half-day city tour. Begin the day exploring the
                            iconic spots such as the Art Museum, Esplanade Theater, Central Business District, and Civic
                            District. Next, admire the stunning architecture of Helix Bridge, see Istana, the office and
                            official residence of the president of Singapore. Click a mandatory picture with the Merlion
                            statue - the charm of Singapore, it is a mythical creature with a lion's head and the body
                            of a fish that is widely used as a mascot and national personification of Singapore.</h3>
                    </td>
                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Places to visit</h2>
                    </td>
                </tr>
                <tr>
                    <td>

                        <img src="static/travel_site_img/sing_p4_4.webp" alt="" width="300px" height="150px">
                        <p>Art Museum</p>
                    </td>
                    <td>

                        <img src="static/travel_site_img/sing_p4_5.webp" alt="" width="300px" height="150px">
                        <p>Theatre</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 3 -City Tour with
                            Singapore Flyer</h3>
                        <h2><a><img src="static/travel_site_img/bf.jpg" width="45px">BREAKFAST </a></h2>

                    </td>
                    <td style="margin-left:20rem">
                        <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">After enjoying a
                            lip-smacking breakfast, get ready for your visit to the 3 most beautiful gardens located on
                            the shores of Singapore. Gardens by the Bay are the botanic gardens of the future, the land
                            of next-gen Supertrees groves, high-tech space-domes, and outlandish sculptures. The rest of
                            the day is at leisure wherein you can either visit the Orchard Road for some shopping or
                            walk on the well-lit DNA-shaped Helix bridge. After such a lovely evening, get back to the
                            hotel for an overnight stay.</h3>
                    </td>
                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Places to visit</h2>
                    </td>
                </tr>
                <tr>
                    <td>

                        <img src="static/travel_site_img/sing_p4_6.webp" alt="" width="300px" height="150px">
                        <p>Gardens by the bay</p>
                    </td>
                    <td>

                        <img src="static/travel_site_img/sing_p4_7.webp" alt="" width="300px" height="150px">
                        <p>&nbsp;</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, sans-serif">END OF THE DAY</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 4 -City Tour with
                            Singapore Flyer</h3>
                        <h2><a><img src="static/travel_site_img/bf.jpg" width="45px">BREAKFAST </a></h2>

                    </td>
                    <td style="margin-left:20rem">
                        <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">Enjoy your wholesome
                            breakfast at the hotel and get ready for an exciting day today. Today we will be heading
                            towards the Singapore Zoo, the zoo is famous for its world-leading free-ranging orangutan
                            exhibit and dedicates special attention to threatened primates and threatened southeast
                            Asian chelonians. Later in the evening you will be taken to the night safari which is the
                            world's first nocturnal wildlife park and see close to 2500 animals belonging to more than
                            100 species. After such an exciting day, return to the hotel for a sound sleep</h3>
                    </td>
                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Places to visit</h2>
                    </td>
                </tr>
                <tr>
                    <td>

                        <img src="static/travel_site_img/sing_p4_8.webp" alt="" width="300px" height="150px">
                        <p>Visit to zoo</p>
                    </td>
                    <td>

                        <img src="static/travel_site_img/sing_p4_9.webp" alt="" width="300px" height="150px">
                        <p>&nbsp;</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h2 style="font-size: 30px; font-family:Lato, sans-serif">END OF THE DAY</h2>
                    </td>
                <tr>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 5-Departure From Singapore
                        </h3>


                        <div class="home" style="width:75%">
                            <img src="static/travel_site_img/plane.jpg" alt="" width="250px">
                        </div>




        </div>
        </td>
        <td style="margin-left:20rem">
            <h3><a>INCLUDED: <img src="static/travel_site_img/pla.png" width="45px"> 1 flight | <img
                        src="static/travel_site_img/car.png" width="45px"> 1 Transfer</a></h3>
            <h4>Baggage:</h4>
            <h4><img src="static/travel_site_img/cabin.png" width="45px">Cabin:7kg</h4>
            <h4><img src="static/travel_site_img/bag.png" width="45px">Check-in:15kg</h4>
        </td>
        </tr>
        </table>
    </section>
</body>

</html>