<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/style3.css">

</head>

<body>
  <header>
    <nav>
      <div class="navdec1">
        <div class="navdecchild"><img src="static/travel_site_img/logo.jpg" alt="" width="100px" style="margin-right: 0rem;">
        </div>
        <div class="navdecchild"><a class="navitems" href="index2.html">HOME</a></div>
        <div class="navdecchild"><a class="navitems" href="#overview">PACKAGE</a></div>
        <div class="navdecchild"><a class="navitems" href="#plan">PLAN</a></div>
      </div>
    </nav>
  </header>
  <section>
    <div class="picsec">
      <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif; padding-left:4rem">4 Days Glimpse of Singapore
      </h2>
      <h2 style="font-size: 28px; font-family: sans-serif; padding-left:4rem">&#8377 29,400per person</h2>
      <img src="static/travel_site_img/destination.jpg" alt="" height="40px" style="position:relative;padding-left:3.3rem">
      
      <span style="font-size: 22px; font-family: sans-serif; position: absolute;">Singapore</span>
      <!--<span style="font-size: 22px; font-family: sans-serif;right: 190px ;position:absolute; background-color: lightgreen;"> <input type="button" value="Book"></span>-->
      
      
      <div class="pictures">
        <img src="static/travel_site_img/p2_1.jpeg" alt="" width="30%" HEIGHT="400px">
        <img src="static/travel_site_img/p2_2.webp" alt="" width="30%" height="400px">
        <!--<div class="centerimg" width="40%">
          <img src="static/travel_site_img/goa_2.jpg" alt="" width="100%" height="30%">
          <img src="static/travel_site_img/goa_3.jpg" alt="" width="100%" height="30%">
        </div>-->
        <img src="static/travel_site_img/p2_3.avif" alt="" width="30%" HEIGHT="400px" style="margin-left: 9px;">
      </div>

    </div>
  </section>
  <section>
    <div>
      <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif;margin-left:9.5rem ">About Package</h2>
      <div style="display:flex;justify-content:stretch;margin-left: 6rem;">
        <p style="padding-left: 4rem;padding-right: 3rem;font-size:22px;font-family: Arial, Helvetica, sans-serif; width: 60%;text-align: justify;">Book you lucrative tour package of Singapore for 3 Nights, 4 Days offered by Asian Travels at  29,400 /Per Person .
             Find detailed day wise itinerary of Singapore tour package below
             Singapore officially the Republic of Singapore, is an island country and city-state in maritime Southeast Asia. 
             It is located about one degree of latitude (137 kilometres or 85 miles) north of the equator, off the southern tip of the Malay Peninsula, bordering the Strait of Malacca to the west, the Singapore Strait to the south, the South China Sea to the east, and the Straits of Johor to the north. 
            </p>
        
        <div style="width:40%;height: 300px;">
          <div class="cost2">
            <div class="cost_sub1">
              <h2 style="font-size: 28px; font-family: sans-serif;">&#8377 29,400 </h2>
              <h2 style="font-size: 28px; font-family: sans-serif;">/per person</h2>
              <h2 style=" font-size: 28px; font-family: sans-serif;color:ash">*Excluding Applicable taxes</h2>

            </div>
            <div class="cost_sub2" style="position:relative;display:flex">
              <img src="static/travel_site_img/time.jpeg" height="40px" alt="" style="position:absolute;">
              <h2 style="font-size: 28px; font-family: sans-serif;position:absolute; right:30%; top:-10px">3 Nights / 4 Days</h2><span>
                <a style="text-decoration: none;" href="try.html"><input type="button" value="Book"
                  style="font-size: 28px; font-family: sans-serif;position:absolute;top:70px ;right:40% ;background-color:rgb(47, 228, 47);"></a>              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div style="padding:4rem 9.5rem;" class="summary">
      <table>
        <tr>
          <td colspan="4" style="font-size:22px;text-align:centre;background-color:rgb(147, 188, 249)">Package Summary</td>
        </tr>
        <tr id="table1">
          <td style="color:blue;font-size:18px">Day1</td>
          <td><img src="static/travel_site_img/car.png" width="45px">Arrival </td>
          <td><img src="static/travel_site_img/visit.jpeg" width="45px">Safari</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
        </tr>
        <tr>
          <td style="color:blue;font-size:18px">Day2</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
          <td><img src="static/travel_site_img/visit.jpeg" width="45px"> City Tour</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
        </tr>
        <tr>
          <td style="color:blue;font-size:18px">Day3</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
          <td><img src="static/travel_site_img/visit.jpeg" width="45px">Sentosa Island,Madame Tussauds</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Dinner at Hotel</td>
        </tr>
        <tr>
          <td style="color:blue;font-size:18px">Day4</td>
          <td><img src="static/travel_site_img/bf.jpg" width="45px">Breakfast</td>
          <td><img src="static/travel_site_img/car.png" width="45px">Departure</td>
        </tr>
      </table>
    </div>
    <div style="margin-left: 9.5rem;" id="plan">
      <h2 style="font-size: 40px; font-family:Lato, Arial, sans-serif;">Detailed Daywise itenerary</h2>
    </div>
    <div id="overview">
      <table style="margin-left:9.5rem; width: 80vw; background-color: azure;">
        <tr>
          <td>
            <div class="main_p">
              <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;" >Day 1 - Arrival in Singapore </h3>
              <h3 style="color:blue;font-size:18px">CHECKIN @ 10AM</h3>
              <div class="hotel">
                <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">J8 Hotel</h2>
                <img src="static/travel_site_img/sing_hotel.jpg" alt="" width="300px">


              </div>


            </div>
          </td>
          <td style="margin-top:40em;">
            <h3><a>INCLUDED: <img src="static/travel_site_img/pla.png" style="width:45px"> 1 flight | <img
                  src="static/travel_site_img/hotel.jpeg" width="45px"> Hotel | <img src="static/travel_site_img/car.png"
                  width="45px"> 1 Transfer</a></h3>
            <h3 style="color:blue;font-size:25px">Car service provided to hotel- 1hr</h3>
            <h4>Baggage:</h4>
            <h4><img src="static/travel_site_img/cabin.png" width="45px">Cabin:7kg</h4>
            <h4><img src="static/travel_site_img/bag.png" width="45px">Check-in:15kg</h4>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">After arrival at the airport, complete the immigration process and board your transfer to reach your pre booked hotel.  Complete the check in formalities at the hotel and rest for sometime before starting to explore the amazing ‘Land of Lion’ - Singapore.
                 In the evening you are free to roam around by yourself.  Later, head out for a one of a kind experience at the world’s first Nocturnal Zoo as you embark on a night safari at your own cost. The safari will take you through various zones and will give you a chance to witness the wild animals in their natural habitat in the darkest hours. 
                 Upon completing the safari, get back to the hotel for overnight stay.</h3>
          </td>
          <td style="margin-left:20rem">
            <br>
            <br>

          </td>

        </tr>


        <tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Safari,Land of Lion</h2>
          </td>
        </tr>
        <tr>

          <td>

            <img src="static/travel_site_img/safari.jpg" alt="" width="300px" height="150px">
            <p>SAFARI</p>
          </td>
          <td>

            <img src="static/travel_site_img/land of lions.jpg" alt="" width="300px" height="150px">
            <p>LAND OF LION</p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
          </td>
        <tr>
          <td colspan="2">
            <hr>
          </td>
        </tr>
        </tr>


        <tr>
          <td>
            <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 2 - City Tour </h3>
            <h2><a><img src="static/travel_site_img/bf.jpg" width="45px">BREAKFAST </a></h2>

            <img src="static/travel_site_img/singapore-cable-car.jpg" alt="" width="300px">
          </td>
          <td style="margin-left:20rem">
            <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">After a wholesome breakfast at the hotel in Singapore, get ready for a half-day city tour.  
                Visit the Merlion statue - the charm of Singapore, Singapore Flyer, Suntec City, and Thian Hock Keng Temple. Indulge in shopping at Plaza Singapura and buy souvenirs. 
                (tickets are excluded) After a half-day city tour, you can enjoy your lunch in the nearby restaurants After such a fun-filled day, come back to the hotel for an overnight stay.</h3>
          </td>
        <tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Thian Hock Keng Temple,Merlion Park</h2>
          </td>
        </tr>
        <tr>
          <td>

            <img src="static/travel_site_img/temple.avif" alt="" width="300px" height="150px">
            <p>THIAN HOCK KENG TEMPLE</p>
          </td>
          <td>

            <img src="static/travel_site_img/monument.jpeg" alt="" width="300px" height="150px">
            <p>MERLION PARK</p>
          </td>
        </tr>
        <tr>
          <td>
            <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
          </td>

        </tr>
        <tr>
          <td colspan="2">
            <hr>
          </td>
        </tr>
        <tr>
            <td>
              <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 3 Sentosa Island,Madame Tussauds</h3>
              <h2><a><img src="static/travel_site_img/bf.jpg" width="45px">BREAKFAST </a></h2>
  
              <img src="static/travel_site_img/museum.jpg" alt="" width="300px">
            </td>
            <td style="margin-left:20rem">
              <h3 style="font-size:22px;font-family: Arial, Helvetica, sans-serif">Wake up in the morning and today we will proceed to the Sentosa Island by cable car which is home to clean beaches, casinos, and gorgeous parks. 
                 Visit Madame Tussauds, and click a selfie with wax figures of famous personalities  alongside superstars of Indian Cinema. Later when you return back to the Singapore do not forget to visit the largest shopping mall in Singapore, VivoCity Mall.
                 After exploring the markets, return to the hotel for a sound sleep.</h3>
                 
            </td>
          <tr>
            <td>
              <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Sentosa Island,Madame Tussauds</h2>
            </td>
          </tr>
          <tr>
            <td>
  
              <img src="static/travel_site_img/sentosa island.jpg" alt="" width="300px" height="150px">
              <p>SENTOSA ISLAND</p>
            </td>
            <td>
  
              <img src="static/travel_site_img/Madame Tussauds.webp" alt="" width="300px" height="150px">
              <p>MADAME TUSSAUDS</p>
            </td>
          </tr>
          <tr>
            <td>
              <h2 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">END OF THE DAY</h2>
            </td>
  
          </tr>
          <tr>
            <td colspan="2">
              <hr>
            </td>
          </tr>
        <tr>
          <td>
            <h3 style="font-size: 30px; font-family:Lato, Arial, sans-serif;">Day 4-Departure From Singapore</h3>


            <div class="home" style="width:75%">
              <img src="static/travel_site_img/plane.jpg" alt="" width="250px">
            </div>



    </div>
    </td>
    <td style="margin-left:20rem">
      <h3><a>INCLUDED: <img src="static/travel_site_img/pla.png" width="45px"> 1 flight | <img src="static/travel_site_img/car.png"
            width="45px"> 1 Transfer</a></h3>
      <h4>Baggage:</h4>
      <h4><img src="static/travel_site_img/cabin.png" width="45px">Cabin:7kg</h4>
      <h4><img src="static/travel_site_img/bag.png" width="45px">Check-in:15kg</h4>
    </td>
    </tr>
    </table>
  </section>
</body>

</html>